@model GDR.Models.DatabaseGDR

@{
    ViewData["Title"] = "Cadastro de banco de dados";
}

<h2>Cadastro de banco de dados</h2>
<br />

<div class="row">
    <div class="col-md-12 form">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <partial name="_Form" />


        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/database-gdr.js"></script>
    <script src="~/js/multilist.js"></script>
}
